<div class="container-all">
  <div class="flex-container">
    <div class="left-container">
      <h1>Influencers</h1>
        <div class="container-list">
          <% @suggestions.each do |influencer| %>
            <div class="influencer-container">
              <div class="avatar-user" style= "background-image: url(<%= image_path "influencer1.jpg" %>)"></div>
                <div class="name-influencer"><h3><%= influencer.influencer_full_name %></h3>
                  <i class="fab fa-instagram"></i> <%= influencer.influencer_instagram_username %>
                </div>
                  <% if user_signed_in? %>
                <div class="add">
                    <%= link_to "+", influencer_starred_influencers_path(influencer), method: "post", class: "buttons"%>
                  </div>
                  <% end %>
            </div>
          <% end %>
        </div>
    </div>
    <div class="right-container">
      <h1>Starred Influencers</h1>
        <% if !user_signed_in? %>
        <p>Please Sign in or Sign up to star users</p>
        <% end %>
        <% @influencers.each do |influencer| %>
        <div class="large-starred">
          <div class="starred-container">
            <div class="avatar-user" style= "background-image: url(<%= image_path "influencer1.jpg" %>)"></div>
            <div class="name-starred">
              <h3><%= influencer.influencer_full_name %></h3>
                <i class="fab fa-instagram"></i> <%= influencer.influencer_instagram_username %>
             </div>
             <div class="followers">
               <h3><%= influencer.statistics_followers %></h3>
               Followers
             </div>
              <div class="engagement">
                <h3><%= influencer.statistics_engagement %>.0 % </h3>
                Engagement
             </div>
          </div>
          <div class="small-end-starred">
            <%= link_to "x", starred_influencer_path(influencer.starred_influencers.where(user: current_user).first), method: "delete", class: "buttons" %>
          </div>
        </div>
        <% end %>


    </div>
  </div>
</div>
